{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% block header %}

        {% endblock %}
</head>
<body>
        {% block menu %}


    <h1>회원가입</h1>

        {{ error }}
    <form method="POST" action="{% url 'register' %}">
        {% csrf_token %}      
      {% for field in form %}
      <div class="form-group">
        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
        <input type="{{ field.field.widget.input_type }}" class="form-control" id="{{ field.id_for_label }}"
          placeholder="{{ field.label }}" name="{{ field.name }}" />
      </div>
      {% if field.errors %}
      <span style="color: red">{{ field.errors }}</span>
      {% endif %}
      {% endfor %}
              <button type="submit" class="btn btn-primary">회원가입</button>
    </form>
            {% endblock %}

</body>
</html>